---
import '../styles/global.css'
import MobileNav from '../components/MobileNav.astro'

const { title = 'Debt Tracker', nav } = Astro.props
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>

    <meta name="theme-color" content="#020617" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="icon" href="/icon-192.png" />
    <link rel="manifest" href="/manifest.webmanifest">

    <slot name="head" />
  </head>

  <body
  class="bg-gray-100 dark:bg-gray-950 text-gray-900 dark:text-gray-100 min-h-screen pb-24"
  style="padding-bottom: calc(5rem + env(safe-area-inset-bottom));"
  >

    <slot />

    {nav && <MobileNav current={nav} />}

  </body>
</html>